include partials/galleryHeader.pug
body
.main-wrapper
 nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      a.navbar-brand(href='#')
        img(alt='DWE DESIGNS', src='')
  .container
    .row
     .col
       h1 #{title}
        h2 #{description}
        img
        | #{image}
        p2 #{description}
        p  #{body}


    include partials/footer.pug
